*{
    box-sizing: border-box;
}

.header__bottom{
    width: 100%;
    display:block !important;
    background-color: $grey !important;
    height: auto !important;
}

html{
    min-width: 356px !important;
    -webkit-text-size-adjust: none !important;
    line-height: 1.4;
    font-size: 16px !important;

    @include breakpoint-down(small){
        width: 100%;
        height: auto;
        background: $grey !important;
    }
}

body{
    font-family:$Lato !important;
}


h1{
    //font-style:italic;
    text-align: center;
    color: #333;
    font-weight: 600;
    font-size:2.2222222222rem;
}

h2{
    text-align: center;
}

.con{
    display: block;
    position: relative;
    width: 100%;
    max-width: 1400px;    
    min-height: 2405px;
    margin: 0 auto;
    padding: 0 50px 0 50px;


    @include breakpoint-down(small){
        padding: 0 34px 0 34px;
    }
    margin-bottom: $container-margin;
}

.col{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin-top: $container-margin * 2.5;

    @media screen and (max-width: 1082px){
        flex-direction: column;
        align-content: center;
        
    }

    &__left{
        display:flex;
        flex-direction: column;
        flex-basis: 50%;
        min-width: 536px;
        width: 100%;
        justify-content: space-between;
        align-content: center;

        @include breakpoint-down(medium){
            min-width: auto;
        }
        
        @include breakpoint-down(small){
            align-self: center;
        }
    }

    &__right{
        position: relative;
        display:flex;
        flex-direction: column;
        flex-basis: 50%;
        margin-left: 40px;
        justify-content: space-between;
        height: 100%;
        min-height: 1475px;

        @media screen and (max-width: 1082px){
            margin-left: 0;
            min-height: 1560px;
            margin-top: $container-margin * 2;
            height: 1560px;
            justify-content: flex-start;
        }

        @include breakpoint-down(xsmall){
            min-height: 1200px;
        }
    }
}

.border_bottom{
    box-sizing: border-box;
    border-bottom:2px solid #d2d2d1;
    width: 100%;
    height: 2px;
}

.border_bottom_stat{
    position: absolute;
    border-bottom:2px solid rgba(170,170,170,0.4);
    width: 75%;
    height: 2px;
    bottom: 0;
    z-index: 1;
    left: 12.5%;
}


.body_header{
    width: 100%;
    background-image:url("https://www.tjc.edu/images/gold_bar.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 10px;
    
    &.stats{
        background-image: none;

        @media screen and (max-width: 1082px){
            position: absolute;
            top: -75px;
            width: 100%;
        }
    }

    .body{
        margin: 0;
        overflow-wrap:break-word;
    }
}