.adm__header{
    position: relative;
    display: block;
    justify-content: center;
    margin-top: $container-margin;
    height: 175px;

    @include breakpoint-down(small){
        height: 200px;
    }

    @media screen and (max-width: 746px){
        height: 265px;
    }

    @include breakpoint-down(xsmall){
        height: 300px;
    }

    @media screen and (max-width: 420px){
        height: 365px;
    }

    .top{
        background-image:url("https://www.tjc.edu/images/gold_bar.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        padding-bottom: 10px;
        margin-bottom: $container-margin;
        font-size:$font-xlarge;
        font-weight: bold;

        @include breakpoint-down(large){
            font-size: 2.1em;
        }

        @include breakpoint-down(medium){
            
        }
    }

    .header__text{
        margin: 0;
        font-weight: 400;
        font-size: $font-large !important;
        line-height: 1.4;
    }

}


